* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background-color: #edf5ff;
	font-family: 'Roboto', sans-serif;
}

header{
	height: 70px;
	padding: 20px 60px;
	top: 0;
    left: 0;
    width: 100%; 
	display: flex;
	align-items: center;
	background-color: rgb(9, 122, 235);
	color: #ffffff;
}

main{
	padding: 60px;
}

.form-container{
	height: 150px;
	width: 550px;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
}

.form-label{
	font-size: 30px;
	font-weight: 500;
}

.task-form input[type="text"]{
	border-radius: 5px;
	height: 50px;
	width: 270px;
	border: 1px solid rgb(221, 221, 221);
	font-size: 15px;
	padding-left: 10px;
	margin-right: 10px;
}

.task-form input[type="submit"]{
	background-color: rgb(9, 122, 235);
	border: none;
	color: #ffffff;
	font-size: 20px;
	border-radius: 5px;
	height: 50px;
	width: 200px;
	cursor: pointer;
	transition: filter 0.3s ease;
}

.task-form input[type="submit"]:hover{
	filter: brightness(0.9);
}

.tasks-categories{
	display: flex;
	justify-content: space-between;
	gap: 2%;
}

.tasks-categories span{
    border-radius: 5px;
	padding: 10px 20px;
}

.tasks-categories section{
	width: 25%;
}

.tasks-categories ul{
	margin-top: 20px;
}

.tasks-categories ul li{ 
    border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	height: 60px;
	width: 100%;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.backlog-label{
	background-color: rgb(223, 223, 223);
	color: rgb(119, 119, 119);
	font-weight: 500;
}

.backlog-list li{
	background-color: rgb(255, 255, 255);
	border-left: 6px solid rgb(223, 223, 223);
}

.processing-label{
	background-color: rgb(197, 222, 255);
	color: rgb(0, 110, 255);
	font-weight: 500;
}

.processing-list li{
	background-color: rgb(255, 255, 255);
	border-left: 6px solid rgb(197, 222, 255);
}

.complete-label{
	background-color: rgb(191, 253, 219);
	color: rgb(0, 185, 71);
	font-weight: 500;
}

.complete-list li{
	background-color: rgb(255, 255, 255);
	border-left: 6px solid rgb(191, 253, 219);
}

.basket-label{
	background-color: rgb(255, 209, 209);
    color: rgb(207, 44, 44);
    font-weight: 500;
}

.basket-list li{
	background-color: rgb(255, 255, 255);
	border-left: 6px solid rgb(255, 209, 209);	
}

.clear-btn{
    width: 100%;
	height: 60px;
	margin-top: 10px;
    font-size: 20px;
    background-color: rgb(207, 44, 44);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
	cursor: pointer;
	transition: filter 0.3s ease;
}

.clear-btn:hover {
    filter: brightness(0.9);
}
ul .placeholder-task{
	background-color: transparent;
	border: 2px dashed rgb(182, 182, 182);
	color: rgb(182, 182, 182);
}